In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Import CSV Files
songs = "data/songs.csv"
test = "data/test.csv"
members = "data/members.csv"
train = 'data/train.csv'

In [3]:
# Read our Data file with the pandas library
songs_df = pd.read_csv(songs, encoding="utf-8")
test_df = pd.read_csv(test, encoding="utf-8")
members_df = pd.read_csv(members, encoding="utf-8")
train_df = pd.read_csv(train, encoding="utf-8")

In [4]:
# Songs DataFrame Header
songs_df.head(2)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,張信哲 (Jeff Chang),董貞,何啟弘,3.0
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0

In [5]:
# Test DataFrame Header
test_df.head(2)

,id,msno,song_id,source_system_tab,source_screen_name,source_type
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library

In [6]:
# Members DataFrame Header
members_df.head(2)

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622

In [7]:
# Train DataFrame Header
train_df.head(2)

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1

# Test Dateset : 
We will merge test data with members dataset and song dataset

In [4]:
# Megre Songs & Test DataFrames on 'song_id'
songs_test_df = pd.merge(test_df, songs_df,on="song_id", how="left")
songs_test_df.head(2)

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,林俊傑 (JJ Lin),林俊傑,孫燕姿/易家揚,3.0

In [5]:
# Merge Songs_Test_df & Members on 'msno'
songs_test_members_df = pd.merge(songs_test_df, members_df, on="msno", how="left")
songs_test_members_df.head(2)

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0,1,0,NaN,7,20160219,20170918
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,林俊傑 (JJ Lin),林俊傑,孫燕姿/易家揚,3.0,1,0,NaN,7,20160219,20170918

In [6]:
# Rename songs_test_members_df DataFrame to "test_final_df'
test_final_df = songs_test_members_df.copy()
test_final_df.head(2)

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0,1,0,NaN,7,20160219,20170918
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,林俊傑 (JJ Lin),林俊傑,孫燕姿/易家揚,3.0,1,0,NaN,7,20160219,20170918

In [7]:
# Rename 'bd' column to 'age'
test_final_df.rename(columns={'bd': 'age'}, inplace=True)
test_final_df.head(2)

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via,registration_init_time,expiration_date
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0,1,0,NaN,7,20160219,20170918
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,林俊傑 (JJ Lin),林俊傑,孫燕姿/易家揚,3.0,1,0,NaN,7,20160219,20170918

In [8]:
# Delete some columns which we would not use it such as "msno" and "song_id" 
test_final_df = test_final_df[["id","source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer","lyricist", "language", "city", "age", "gender", "registered_via"]]
test_final_df.head(2)

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via
0,my library,Local playlist more,local-library,224130.0,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0,1,0,NaN,7
1,my library,Local playlist more,local-library,320470.0,465,林俊傑 (JJ Lin),林俊傑,孫燕姿/易家揚,3.0,1,0,NaN,7

In [9]:
# Show how much rows of original Test DataFrame and the merged Test DataFrame 
print(f"The merged test_final DataFrame : {test_final_df.shape[0]}")
print(f"The original test DataFrame (not-merged) : {test_df.shape[0]}")

The merged test_final DataFrame : 2556790
The original test DataFrame (not-merged) : 2556790

# Train Dataset :
We will merge train data with members dataset and song dataset

In [10]:
# Train DataFrame Merge Songs & Train DataFrames on 'song_id'
songs_train_df = pd.merge(train_df,songs_df, on="song_id", how="left")
songs_train_df.head(2)

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0

In [11]:
# Merge Songs,Train & Members DataFrames on 'msno'
songs_train_members_df = pd.merge(songs_train_df, members_df, on="msno", how="left")
songs_train_members_df.head(2)

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,20120102,20171005
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,20110525,20170911

In [12]:
# Rename songs_train_members_df DataFrame to 'train_final_df'
train_final_df = songs_train_members_df.copy()
train_final_df.head(2)

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,20120102,20171005
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,20110525,20170911

In [13]:
# Rename 'bd' column to 'age'
train_final_df.rename(columns={'bd': 'age'}, inplace=True)
train_final_df.head(2)

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via,registration_init_time,expiration_date
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,20120102,20171005
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,20110525,20170911

In [14]:
# Train Final DataFrame
train_final_df = train_final_df[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer","lyricist", "language", "city", "age", "gender", "registered_via", "target"]]
train_final_df.head(2)

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via,target
0,explore,Explore,online-playlist,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,1
1,my library,Local playlist more,local-playlist,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,1

In [15]:
# Show how much rows of original Train DataFrame and the merged Train DataFrame
print(f"The merged train_final DataFrame : {train_final_df.shape[0]}")
print(f"The original train DataFrame (not-merged) : {train_df.shape[0]}")

The merged train_final DataFrame : 7377418
The original train DataFrame (not-merged) : 7377418

## Deal with missing value of Test DataFrame and Train DataFrame

In [16]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [24]:
# Show the missing value of columns in Test Final DataFrame
missing_values_table(test_final_df)

Your selected dataframe has 13 columns.
There are 10 columns that have missing values.

                    Missing Values  % of Total Values
lyricist                   1224744               47.9
gender                     1052224               41.2
composer                    619304               24.2
source_screen_name          162883                6.4
genre_ids                    42110                1.6
source_system_tab             8442                0.3
source_type                   7297                0.3
language                        42                0.0
song_length                     25                0.0
artist_name                     25                0.0

In [25]:
# Show the missing value of columns in Train Final DataFrame
missing_values_table(train_final_df)

Your selected dataframe has 14 columns.
There are 10 columns that have missing values.

                    Missing Values  % of Total Values
lyricist                   3178798               43.1
gender                     2961479               40.1
composer                   1675706               22.7
source_screen_name          414804                5.6
genre_ids                   118455                1.6
source_system_tab            24849                0.3
source_type                  21539                0.3
language                       150                0.0
song_length                    114                0.0
artist_name                    114                0.0

### Gender Missing value : 
There are three different values in gender columns. ("male", "female", nan) <br>
We would fill "Unknown" into nan cells of gender columns.

In [17]:
print(train_final_df["gender"].unique())
print(test_final_df["gender"].unique())

[nan 'female' 'male']
[nan 'male' 'female']

In [18]:
#Fill NaN with "Unknown"
train_final_df["gender"].fillna("Unknown",inplace=True)
test_final_df["gender"].fillna("Unknown",inplace=True)

### Composer: 
We found that there are "Composer Unknown" and "Unknown", so we would fill NaN with "Unknown" and change "Composer Unknown" into "Unknown".

In [19]:
print(train_final_df[train_final_df["composer"] == "Composer Unknown"]["composer"].count())
print(test_final_df[test_final_df["composer"] == "Composer Unknown"]["composer"].count())

3
5

In [20]:
print(train_final_df[train_final_df["composer"] == "Unknown"]["composer"].count())
print(test_final_df[test_final_df["composer"] == "Unknown"]["composer"].count())

405
221

In [21]:
# Fill NaN with "Unknown"
train_final_df["composer"].fillna("Unknown",inplace=True)
test_final_df["composer"].fillna("Unknown",inplace=True)

In [22]:
# Change "Composer Unknown" into "Unknown"
train_final_df["composer"].replace("Composer Unknown","Unknown",inplace=True)
test_final_df["composer"].replace("Composer Unknown","Unknown",inplace=True)

### Source_screen_name
It already has "Unknown" in this column, so we would fill "Unknown" into NaN cells
We also found that there are two extra category "People global" and "People local", so we would combine these two into "Unknown" in test dataset.

In [41]:
print(train_final_df["source_screen_name"].unique())
print(test_final_df["source_screen_name"].unique())
print(set(list(train_final_df["source_screen_name"].unique())) ^ set(list(test_final_df["source_screen_name"].unique())))

['Explore' 'Local playlist more' nan 'My library' 'Online playlist more'
 'Album more' 'Discover Feature' 'Unknown' 'Discover Chart' 'Radio'
 'Artist more' 'Search' 'Others profile more' 'Search Trends'
 'Discover Genre' 'My library_Search' 'Search Home' 'Discover New'
 'Self profile more' 'Concert' 'Payment']
['Local playlist more' nan 'Radio' 'Online playlist more' 'Artist more'
 'Discover Genre' 'Album more' 'Discover Chart' 'Discover Feature'
 'Search' 'Unknown' 'Explore' 'Others profile more' 'My library'
 'My library_Search' 'Search Trends' 'Discover New' 'Search Home'
 'Payment' 'Self profile more' 'People local' 'Concert' 'People global']
{'People local', 'People global'}

In [23]:
train_final_df["source_screen_name"].fillna("Unknown",inplace=True)
test_final_df["source_screen_name"].fillna("Unknown",inplace=True)

test_final_df["source_screen_name"].replace(["People local","People global"],"Unknown",inplace=True)

### Source_type
We would fill "Unknown" into NaN cells

In [24]:
train_final_df["source_type"].fillna("Unknown",inplace=True)
test_final_df["source_type"].fillna("Unknown",inplace=True)

### Source System Tab
We would fill "Unknown" into NaN cells

In [25]:
train_final_df["source_system_tab"].fillna("Unknown",inplace=True)
test_final_df["source_system_tab"].fillna("Unknown",inplace=True)

### Language 
We would fill 0 into NaN cells

In [26]:
train_final_df["language"].fillna(0,inplace=True)
test_final_df["language"].fillna(0,inplace=True)

### Song Length 
We would calculate the mean of song length of train dataframe and then fill it into NaN cells for train and test dataframe.

In [27]:
mean_value_song_length = train_final_df["song_length"].mean()
train_final_df["song_length"].fillna(mean_value_song_length,inplace=True)
test_final_df["song_length"].fillna(mean_value_song_length,inplace=True)

### Artist Name 
We would fill "Unknown" into NaN cells

In [28]:
train_final_df["artist_name"].fillna("Unknown",inplace=True)
test_final_df["artist_name"].fillna("Unknown",inplace=True)

### Genre ids
We would fill 0 into NaN cells and there are some of cells with "|" to present several styles.
Then, we decided to just take first one stlye if there is a "|" in that cell.

In [29]:
train_final_df["genre_ids"].fillna(0,inplace=True)
test_final_df["genre_ids"].fillna(0,inplace=True)

In [30]:
def split_genre(ids):
    temp = ids.split("|")
    return(temp[0])

In [31]:
train_final_df["genre_ids"] = train_final_df["genre_ids"].apply(lambda ids : split_genre(str(ids)))
test_final_df["genre_ids"] = test_final_df["genre_ids"].apply(lambda ids : split_genre(str(ids)))

### Lyricist
There are around 45% missing value in Lyricist column for train and test dataframe.
Moreover, it already has "Unknown" and "-" in Lyricist column. We decided to delete this feature from Train and test dataset because the rate of NaN, "Unknown", and "-" is almost 50%.

In [32]:
train_final_clean_df = train_final_df[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer", "language", "city", "age", "gender", "registered_via", "target"]]
train_final_clean_df.head(2)

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,language,city,age,gender,registered_via,target
0,explore,Explore,online-playlist,206471.0,359,Bastille,Dan Smith| Mark Crew,52.0,1,0,Unknown,7,1
1,my library,Local playlist more,local-playlist,284584.0,1259,Various Artists,Unknown,52.0,13,24,female,9,1

In [33]:
test_final_clean_df = test_final_df[["id","source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer", "language", "city", "age", "gender", "registered_via"]]
test_final_clean_df.head(2)

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,language,city,age,gender,registered_via
0,my library,Local playlist more,local-library,224130.0,458,梁文音 (Rachel Liang),Qi Zheng Zhang,3.0,1,0,Unknown,7
1,my library,Local playlist more,local-library,320470.0,465,林俊傑 (JJ Lin),林俊傑,3.0,1,0,Unknown,7

In [34]:
# After dealing with missing value, there is no missing value in each column
missing_values_table(test_final_clean_df)

Your selected dataframe has 12 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [35]:
# After dealing with missing value, there is no missing value in each column
missing_values_table(train_final_clean_df)

Your selected dataframe has 13 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

## Data Feature change :

### Age :
We could find that there are some unreasonable age such as Zero, negative, and over 112 age years old.

In [36]:
train_final_clean_df["age_group"] = 0
test_final_clean_df["age_group"] = 0

train_final_clean_df.loc[(train_final_clean_df["age"] != 0),["age_group"] ]= 1
test_final_clean_df.loc[(test_final_clean_df["age"] != 0),["age_group"] ]= 1

In [37]:
#Export final clean files to CSV
train_final_clean_df.to_csv("train_final_clean_df.csv",index=False)
test_final_clean_df.to_csv("test_final_clean_df.csv",index=False)