In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Import CSV Files
songs = "data/songs.csv"
test = "data/test.csv"
members = "data/members.csv"
train = 'data/train.csv'

In [3]:
# Read our Data file with the pandas library
songs_df = pd.read_csv(songs, encoding="ISO-8859-1")
test_df = pd.read_csv(test, encoding="ISO-8859-1")
members_df = pd.read_csv(members, encoding="ISO-8859-1")
train_df = pd.read_csv(train, encoding="ISO-8859-1")

In [4]:
# Songs DataFrame Header
songs_df.head(2)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0

In [5]:
# Test DataFrame Header
test_df.head(2)

,id,msno,song_id,source_system_tab,source_screen_name,source_type
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library

In [6]:
# Members DataFrame Header
members_df.head(2)

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622

In [7]:
# Train DataFrame Header
train_df.head(2)

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1

# Test

In [8]:
# Megre Songs & Test DataFrames on 'song_id'
songs_test_df = pd.merge(songs_df, test_df, on="song_id", how="inner")
songs_test_df.head(2)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language,id,msno,source_system_tab,source_screen_name,source_type
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,258358,Tr2Lb0GEN45KWQ00c5oTsA4vWQq//VZKfsYV5CKFdmY=,discover,Online playlist more,online-playlist
1,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,348199,NZ82fmgCMRTIh1U83eSmyL2BmoKZwEPeuZ0u+PKE0as=,discover,Online playlist more,online-playlist

In [9]:
# Merge Songs_Test_df & Members on 'msno'
songs_test_members_df = pd.merge(songs_test_df, members_df, on="msno", how="inner")
songs_test_members_df.head(2)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language,id,msno,source_system_tab,source_screen_name,source_type,city,bd,gender,registered_via,registration_init_time,expiration_date
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,258358,Tr2Lb0GEN45KWQ00c5oTsA4vWQq//VZKfsYV5CKFdmY=,discover,Online playlist more,online-playlist,13,33,male,3,20130828,20171002
1,Co8PcF2DeW+i14x4xSwe7YFkJKAm1B8SZNXdVTpsljc=,240326,465,åå (Victor Wong),åå,æ´ä½©å¦®,3.0,596071,Tr2Lb0GEN45KWQ00c5oTsA4vWQq//VZKfsYV5CKFdmY=,my library,NaN,top-hits-for-artist,13,33,male,3,20130828,20171002

In [10]:
# Rename songs_test_members_df DataFrame to "test_final_df'
test_final_df = songs_test_members_df
test_final_df.head(2)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language,id,msno,source_system_tab,source_screen_name,source_type,city,bd,gender,registered_via,registration_init_time,expiration_date
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,258358,Tr2Lb0GEN45KWQ00c5oTsA4vWQq//VZKfsYV5CKFdmY=,discover,Online playlist more,online-playlist,13,33,male,3,20130828,20171002
1,Co8PcF2DeW+i14x4xSwe7YFkJKAm1B8SZNXdVTpsljc=,240326,465,åå (Victor Wong),åå,æ´ä½©å¦®,3.0,596071,Tr2Lb0GEN45KWQ00c5oTsA4vWQq//VZKfsYV5CKFdmY=,my library,NaN,top-hits-for-artist,13,33,male,3,20130828,20171002

In [11]:
# Rename 'bd' column to 'age'
test_final_df.rename(columns={'bd': 'age'}, inplace=True)
test_final_df.head(2)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language,id,msno,source_system_tab,source_screen_name,source_type,city,age,gender,registered_via,registration_init_time,expiration_date
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,258358,Tr2Lb0GEN45KWQ00c5oTsA4vWQq//VZKfsYV5CKFdmY=,discover,Online playlist more,online-playlist,13,33,male,3,20130828,20171002
1,Co8PcF2DeW+i14x4xSwe7YFkJKAm1B8SZNXdVTpsljc=,240326,465,åå (Victor Wong),åå,æ´ä½©å¦®,3.0,596071,Tr2Lb0GEN45KWQ00c5oTsA4vWQq//VZKfsYV5CKFdmY=,my library,NaN,top-hits-for-artist,13,33,male,3,20130828,20171002

In [12]:
# Test Final DataFrame 
test_final_df = test_final_df[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer","lyricist", "language", "city", "age", "gender", "registered_via"]]
test_final_df.head(2)

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via
0,discover,Online playlist more,online-playlist,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,13,33,male,3
1,my library,NaN,top-hits-for-artist,240326,465,åå (Victor Wong),åå,æ´ä½©å¦®,3.0,13,33,male,3

In [13]:
# Show Test DataFrame Columns
test_final_df.columns.tolist()

['source_system_tab',
 'source_screen_name',
 'source_type',
 'song_length',
 'genre_ids',
 'artist_name',
 'composer',
 'lyricist',
 'language',
 'city',
 'age',
 'gender',
 'registered_via']

# Train

In [14]:
# Train DataFrame Merge Songs & Train DataFrames on 'song_id'
songs_train_df = pd.merge(songs_df, train_df, on="song_id", how="inner")
songs_train_df.head(2)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language,msno,source_system_tab,source_screen_name,source_type,target
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,qdYIsQjR8AMhKuJaC0T+Quuqaj9nWTOcbd8ydI0/jiA=,my library,Local playlist more,local-library,0
1,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,VkQT93ug8I5F2oP6EpLCq5g2eqn5CD/uMnEFlRcGIF4=,my library,Local playlist more,local-library,1

In [15]:
# Merge Songs,Train & Members DataFrames on 'msno'
songs_train_members_df = pd.merge(songs_train_df, members_df, on="msno", how="inner")
songs_train_members_df.head(2)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language,msno,source_system_tab,source_screen_name,source_type,target,city,bd,gender,registered_via,registration_init_time,expiration_date
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,qdYIsQjR8AMhKuJaC0T+Quuqaj9nWTOcbd8ydI0/jiA=,my library,Local playlist more,local-library,0,1,0,NaN,9,20141125,20180417
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0,qdYIsQjR8AMhKuJaC0T+Quuqaj9nWTOcbd8ydI0/jiA=,my library,Local playlist more,local-library,0,1,0,NaN,9,20141125,20180417

In [16]:
# Rename songs_train_members_df DataFrame to 'train_final_df'
train_final_df = songs_train_members_df
train_final_df.head(2)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language,msno,source_system_tab,source_screen_name,source_type,target,city,bd,gender,registered_via,registration_init_time,expiration_date
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,qdYIsQjR8AMhKuJaC0T+Quuqaj9nWTOcbd8ydI0/jiA=,my library,Local playlist more,local-library,0,1,0,NaN,9,20141125,20180417
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0,qdYIsQjR8AMhKuJaC0T+Quuqaj9nWTOcbd8ydI0/jiA=,my library,Local playlist more,local-library,0,1,0,NaN,9,20141125,20180417

In [17]:
# Rename 'bd' column to 'age'
train_final_df.rename(columns={'bd': 'age'}, inplace=True)
train_final_df.head(2)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language,msno,source_system_tab,source_screen_name,source_type,target,city,age,gender,registered_via,registration_init_time,expiration_date
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,qdYIsQjR8AMhKuJaC0T+Quuqaj9nWTOcbd8ydI0/jiA=,my library,Local playlist more,local-library,0,1,0,NaN,9,20141125,20180417
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0,qdYIsQjR8AMhKuJaC0T+Quuqaj9nWTOcbd8ydI0/jiA=,my library,Local playlist more,local-library,0,1,0,NaN,9,20141125,20180417

In [18]:
# Train Final DataFrame
train_final_df = train_final_df[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer","lyricist", "language", "city", "age", "gender", "registered_via", "target"]]
train_final_df.head(2)

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via,target
0,my library,Local playlist more,local-library,247640,465,å¼µä¿¡å² (Jeff Chang),è£è²,ä½åå¼,3.0,1,0,NaN,9,0
1,my library,Local playlist more,local-library,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0,1,0,NaN,9,0

In [19]:
# Show Test DataFrame Columns
train_final_df.columns.tolist()

['source_system_tab',
 'source_screen_name',
 'source_type',
 'song_length',
 'genre_ids',
 'artist_name',
 'composer',
 'lyricist',
 'language',
 'city',
 'age',
 'gender',
 'registered_via',
 'target']