In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Import CSV Files
songs = "data/songs.csv"
test = "data/test.csv"
members = "data/members.csv"
train = 'data/train.csv'

In [3]:
# Read our Data file with the pandas library
songs_df = pd.read_csv(songs, encoding="ISO-8859-1")
test_df = pd.read_csv(test, encoding="ISO-8859-1")
members_df = pd.read_csv(members, encoding="ISO-8859-1")
train_df = pd.read_csv(train, encoding="ISO-8859-1")

In [ ]:
# Songs DataFrame Header
songs_df.head(2)

In [ ]:
# Test DataFrame Header
test_df.head(2)

In [ ]:
# Members DataFrame Header
members_df.head(2)

In [ ]:
# Train DataFrame Header
train_df.head(2)

# Test

In [4]:
# Megre Songs & Test DataFrames on 'song_id'
songs_test_df = pd.merge(test_df, songs_df,on="song_id", how="left")
songs_test_df.head(2)

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,æ¢æé³ (Rachel Liang),Qi Zheng Zhang,NaN,3.0
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,æä¿å (JJ Lin),æä¿å,å­«çå§¿/æå®¶æ,3.0

In [5]:
# Merge Songs_Test_df & Members on 'msno'
songs_test_members_df = pd.merge(songs_test_df, members_df, on="msno", how="left")
songs_test_members_df.head(2)

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,æ¢æé³ (Rachel Liang),Qi Zheng Zhang,NaN,3.0,1,0,NaN,7,20160219,20170918
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,æä¿å (JJ Lin),æä¿å,å­«çå§¿/æå®¶æ,3.0,1,0,NaN,7,20160219,20170918

In [6]:
# Rename songs_test_members_df DataFrame to "test_final_df'
test_final_df = songs_test_members_df
test_final_df.head(2)

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,æ¢æé³ (Rachel Liang),Qi Zheng Zhang,NaN,3.0,1,0,NaN,7,20160219,20170918
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,æä¿å (JJ Lin),æä¿å,å­«çå§¿/æå®¶æ,3.0,1,0,NaN,7,20160219,20170918

In [7]:
# Rename 'bd' column to 'age'
test_final_df.rename(columns={'bd': 'age'}, inplace=True)
test_final_df.head(2)

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via,registration_init_time,expiration_date
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,æ¢æé³ (Rachel Liang),Qi Zheng Zhang,NaN,3.0,1,0,NaN,7,20160219,20170918
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,æä¿å (JJ Lin),æä¿å,å­«çå§¿/æå®¶æ,3.0,1,0,NaN,7,20160219,20170918

In [8]:
# Test Final DataFrame 
test_final_df = test_final_df[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer","lyricist", "language", "city", "age", "gender", "registered_via"]]
test_final_df.head(2)

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via
0,my library,Local playlist more,local-library,224130.0,458,æ¢æé³ (Rachel Liang),Qi Zheng Zhang,NaN,3.0,1,0,NaN,7
1,my library,Local playlist more,local-library,320470.0,465,æä¿å (JJ Lin),æä¿å,å­«çå§¿/æå®¶æ,3.0,1,0,NaN,7

In [9]:
# Show Test DataFrame Columns
print(test_final_df.shape)
print(test_df.shape)

(2556790, 13)
(2556790, 6)

# Train

In [61]:
# Train DataFrame Merge Songs & Train DataFrames on 'song_id'
songs_train_df = pd.merge(train_df,songs_df, on="song_id", how="left")
songs_train_df.head(2)

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0

In [62]:
# Merge Songs,Train & Members DataFrames on 'msno'
songs_train_members_df = pd.merge(songs_train_df, members_df, on="msno", how="left")
songs_train_members_df.head(2)

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,20120102,20171005
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,20110525,20170911

In [63]:
# Rename songs_train_members_df DataFrame to 'train_final_df'
train_final_df = songs_train_members_df
train_final_df.head(2)

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,20120102,20171005
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,20110525,20170911

In [64]:
# Rename 'bd' column to 'age'
train_final_df.rename(columns={'bd': 'age'}, inplace=True)
train_final_df.head(2)

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via,registration_init_time,expiration_date
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,20120102,20171005
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,20110525,20170911

In [65]:
# Train Final DataFrame
train_final_df = train_final_df[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer","lyricist", "language", "city", "age", "gender", "registered_via", "target"]]
train_final_df.head(2)

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via,target
0,explore,Explore,online-playlist,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,1
1,my library,Local playlist more,local-playlist,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,1

In [66]:
# Show Test DataFrame Columns
train_final_df.columns.tolist()

['source_system_tab',
 'source_screen_name',
 'source_type',
 'song_length',
 'genre_ids',
 'artist_name',
 'composer',
 'lyricist',
 'language',
 'city',
 'age',
 'gender',
 'registered_via',
 'target']

In [45]:
print(train_final_df.shape)
print(train_df.shape)

(7377418, 14)
(7377418, 6)

## Deal with missing value

In [46]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [32]:
missing_values_table(test_final_df)

Your selected dataframe has 13 columns.
There are 10 columns that have missing values.

                    Missing Values  % of Total Values
lyricist                   1224744               47.9
gender                     1052224               41.2
composer                    619304               24.2
source_screen_name          162883                6.4
genre_ids                    42110                1.6
source_system_tab             8442                0.3
source_type                   7297                0.3
language                        42                0.0
song_length                     25                0.0
artist_name                     25                0.0

In [17]:
missing_values_table(train_final_df)

Your selected dataframe has 14 columns.
There are 10 columns that have missing values.

                    Missing Values  % of Total Values
lyricist                   3178798               43.1
gender                     2961479               40.1
composer                   1675706               22.7
source_screen_name          414804                5.6
genre_ids                   118455                1.6
source_system_tab            24849                0.3
source_type                  21539                0.3
language                       150                0.0
song_length                    114                0.0
artist_name                    114                0.0

In [ ]:
#Remove "lyricist"

In [67]:
train_final_df["gender"].fillna("Unknown",inplace=True)
test_final_df["gender"].fillna("Unknown",inplace=True)

/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [19]:
train_final_df[train_final_df["composer"] == "Composer Unknown"].count()

source_system_tab     3
source_screen_name    3
source_type           3
song_length           3
genre_ids             3
artist_name           3
composer              3
lyricist              1
language              3
city                  3
age                   3
gender                3
registered_via        3
target                3
dtype: int64

In [20]:
train_final_df[train_final_df["composer"] == "Unknown"].count()

source_system_tab     405
source_screen_name    396
source_type           405
song_length           405
genre_ids             381
artist_name           405
composer              405
lyricist               22
language              405
city                  405
age                   405
gender                405
registered_via        405
target                405
dtype: int64

In [23]:
train_final_df[train_final_df["composer"] == "Unknown| Nil"].count()

source_system_tab     0
source_screen_name    0
source_type           0
song_length           0
genre_ids             0
artist_name           0
composer              0
lyricist              0
language              0
city                  0
age                   0
gender                0
registered_via        0
target                0
dtype: int64

In [68]:
train_final_df["composer"].fillna("Unknown",inplace=True)
test_final_df["composer"].fillna("Unknown",inplace=True)

/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [69]:
train_final_df["composer"].replace("Composer Unknown","Unknown",inplace=True)
test_final_df["composer"].replace("Composer Unknown","Unknown",inplace=True)

/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [70]:
train_final_df["source_screen_name"].fillna("Unknown",inplace=True)
test_final_df["source_screen_name"].fillna("Unknown",inplace=True)

/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [71]:
train_final_df["source_type"].fillna("Unknown",inplace=True)
test_final_df["source_type"].fillna("Unknown",inplace=True)

/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [72]:
train_final_df["genre_ids"].fillna(0,inplace=True)
test_final_df["genre_ids"].fillna(0,inplace=True)

/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [73]:
train_final_df["source_system_tab"].fillna("Unknown",inplace=True)
train_final_df["source_system_tab"].replace("null","Unknown",inplace=True)

test_final_df["source_system_tab"].fillna("Unknown",inplace=True)
test_final_df["source_system_tab"].replace("null","Unknown",inplace=True)

/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [74]:
train_final_df["language"].fillna(0,inplace=True)
test_final_df["language"].fillna(0,inplace=True)

/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [77]:
mean_value_song_length = train_final_df["song_length"].mean()
train_final_df["song_length"].fillna(mean_value_song_length,inplace=True)
test_final_df["song_length"].fillna(mean_value_song_length,inplace=True)

/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [78]:
train_final_df["artist_name"].fillna("Unknown",inplace=True)
test_final_df["artist_name"].fillna("Unknown",inplace=True)

/Users/adam/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [79]:
missing_values_table(test_final_df)

Your selected dataframe has 13 columns.
There are 1 columns that have missing values.

          Missing Values  % of Total Values
lyricist         1224744               47.9

In [58]:
missing_values_table(train_final_df)

Your selected dataframe has 14 columns.
There are 2 columns that have missing values.

             Missing Values  % of Total Values
song_length         7377418              100.0
lyricist            3178798               43.1

In [80]:
train_final_clean_df = train_final_df[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer", "language", "city", "age", "gender", "registered_via", "target"]]
train_final_clean_df.head(2)

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,language,city,age,gender,registered_via,target
0,explore,Explore,online-playlist,206471.0,359,Bastille,Dan Smith| Mark Crew,52.0,1,0,Unknown,7,1
1,my library,Local playlist more,local-playlist,284584.0,1259,Various Artists,Unknown,52.0,13,24,female,9,1

In [81]:
test_final_clean_df = test_final_df[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer", "language", "city", "age", "gender", "registered_via"]]
test_final_clean_df.head(2)

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,language,city,age,gender,registered_via
0,my library,Local playlist more,local-library,245120.96936,458,æ¢æé³ (Rachel Liang),Qi Zheng Zhang,3.0,1,0,Unknown,7
1,my library,Local playlist more,local-library,245120.96936,465,æä¿å (JJ Lin),æä¿å,3.0,1,0,Unknown,7

In [82]:
train_final_clean_df.to_csv("train_final_clean_df.csv")
test_final_clean_df.to_csv("test_final_clean_df.csv")